* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    background-color: #FAF7F0;
}
header {
    height: 92px;
    border-bottom: solid 3px #C41E3A;
    display: flex;
    justify-content: center;
    width: 100%;
}
#cap {
    width: 1360px;
    display: flex;
    align-items: center;
}
.logo {
    width: 111px;
}
nav {
    margin-left: 114px;
    display: flex;
    gap: 32px;
}
nav a {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #2D2418;
    text-decoration: none;
}
nav a:hover {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #C41E3A;
    text-decoration: none;
}
.active {
    border-bottom: solid 2px #C41E3A;
    padding-bottom: 8px;
    color: #C41E3A;
}
input {
    width: 442px;
    height: 44px;
    background-color: #E0E0E0;
    border: solid 2px #C41E3A;
    border-radius: 5px 0 0 5px;
    margin-left: 137px;
    padding-left: 14px;
}
input::placeholder {
    color: #303030;
    font-size: 16px;
    font-weight: 400;  
}
.button_search {
    width: 85px;
    height: 44px;
    background-color: #C41E3A;
    border: none;
    border-radius: 0 5px 5px 0;
}
input:hover {
    width: 442px;
    height: 44px;
    background-color: #FFFFFF;
    border: solid 2px #C41E3A;
    border-radius: 5px 0 0 5px;
    margin-left: 137px;
    padding-left: 14px;
}
input:hover::placeholder {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}
input:focus {
    outline: none;
    background-color: #FFFFFF;
    border: solid 2px #C41E3A;
}
input:focus::placeholder {
    color: #ffffff;
}
.button_search:hover {
    background-color: #9A162D;
}
.button_search:hover img {
    content: url('img/lupa_hover.png');
    width: 31px;
    height: 31px;
    object-fit: contain;
}
.button_search:active {
    width: 85px;
    height: 44px;
    background-color: #E0E0E0;
    border: solid 2px #C41E3A;
    border-radius: 0 5px 5px 0;
}
.button_search:active img {
    content: url('img/lupa.png');
    width: 35px;
    height: 35px;
    object-fit: contain;
}
.korzina {
    width: 42px;
    height: 36px;
    margin-left: 69px;
}
.korzina:hover {
    content: url('img/korzina_hover.svg');
    width: 42px;
    height: 36px;
    margin-left: 69px;
    object-fit: contain;
}
/*Конец шапки*/
main {
    display: flex;
    justify-content: center;
    width: 100%;
}
#content {
    max-width: 1360px;
    width: 100%;
}
.slider {
    position: relative;
    width: 1360px;
    margin-top: 47px;
}
.slider_image {
    width: 1360px;
    display: block;
}
.knopka_nazad {
    position: absolute;
    width: 95px;
    height: 95px;
    top: 219px;
    left: 35px;
    z-index: 10;
}
.knopka_vpered {
    position: absolute;
    width: 95px;
    height: 95px;
    top: 219px;
    right: 35px;
    z-index: 10;
}
.knopka_nazad:hover {
    content: url(img/knopka_nazad_hover.svg);
}
.knopka_vpered:hover {
    content: url(img/knopka_vpered_hover.svg);
}
.knopka_nazad:active {
    content: url(img/knopka_nazad_active.svg);
}
.knopka_vpered:active {
    content: url(img/knopka_vpered_active.svg);
}
.heading {
    display: flex;
    margin-top: 47px;
}
.new {
    display: flex;
    margin-right: 825px;
}
.hit {
    display: flex;
}
.heading img {
    width: 63px;
    margin-right: 10px;
}
.heading h1 {
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin: 12px 0;
}
section {
    display: flex;
    margin-top: 30px;
}
#container {
    border-right: solid 3px #E65C4F;
    padding-right: 62px;
}
.blok {
    display: flex;
    gap: 20px;
}
.kartochki {
    width: 440px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(45, 36, 24, 0.3);
    position: relative;
}
.badge {
    width: 97.94px;
    height: 101.16px;
    position: absolute;
    top: 8.23px;
    left: 3.53px;
}
.card-link {
    text-decoration: none;
}
.kartochki:hover {
    background-color: #E8E8E8;
}
.kartochki:active {
    background-color: #E0E0E0;
}
.tovar {
    width: 412px;
    height: 395px;
    border-radius: 15px;
    margin: 12px 14px 0 14px;
}
.kartochki h2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #2D2418;
    font-size: 24px;
    margin-top: 15px;
    margin-left: 14px;
}
.opisanie {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #666666;
    margin-top: 15px;
    margin-left: 14px;
    font-weight: 400;
}
.cena {
    color: #000000;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 15px;
    margin-left: 14px;
}
/*Кнопка в корзину*/
.in_korzina {
    width: 412px;
    height: 52px;
    background-color: #C41E3A;
    display: flex;
    margin: 15px 14px;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.in_korzina img {
    width: 36px;
    height: 36px;
    margin: 8px 0;
}
.in_korzina p {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    margin-left: 9.12px;
    font-size: 24px;
    font-weight: 700;
}
.in_korzina:hover {
    background-color: #ffffff;
    border: solid 3px #C41E3A;
}
.in_korzina:hover img {
    content: url('img/button_korzina_hover.svg');
}
.in_korzina:hover p {
    color: #C41E3A;
}
.in_korzina:focus {
    background-color: #C41E3A;
}
.in_korzina:focus img {
    content: url('img/button_korzina_focus.svg');
}
.in_korzina:focus p {
    color: lab(100% 0.01 -0.01);
}
.reki {
    width: 326px;
    background-color: #FFFFFF;
    border-radius: 11px;
    box-shadow: 0 4px 12px rgba(45, 36, 24, 0.3);
    margin-left: 63px;
    position: relative;
}
.hit_badge {
    width: 88px;
    height: 88px;
    position: absolute;
    top: -16px;
    left: -14px;
}
.rekomend {
    width: 300px;
    height: 300px;
    border-radius: 11px;
    margin-top: 12px;
    margin-left: 13px;
}
.reki h2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #2D2418;
    font-size: 24px;
    margin-top: 12px;
    margin-left: 13px;
}
.button {
    display: inline-block;
    width: 300px;
    height: 52px;
    background-color: #D4AF37;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    line-height: 52px;
    font-size: 24px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    margin: 12px 13px;
    text-decoration: none;
}
.button:hover {
    background-color: #ffffff;
    border: solid 2px #D4AF37;
    color: #D4AF37;
}
.button:active {
    background-color: #ffffff;
    border: none;
    color: #D4AF37;
}
/*подвал*/
footer {
    background-color: #2D2418;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    margin-top: 47px;
    flex-direction: column;
    align-items: center;
}
.line {
    width: 1641px;
    border-bottom: solid 3px #4A3727;
    display: flex;
    justify-content: center;
}
.footer_container {
    width: 1360px;
    display: flex;
}
.logo2 {
    width: 248px;
    height: 178px;
    margin-top: 31px;
}
.kontakty {
    margin-top: 19px;
    margin-left: 103px;
}
.help {
    margin-top: 19px;
    margin-left: 38px;
}
.icons {
    margin-top: 66px;
    margin-left: 99px;
}
.zagolovok {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    color: #D4BC9A;
    font-size: 30px;
}
.mail {
    display: flex;
    margin-top: 17px;
}
.mail a {
    text-decoration: none;
    color: #B99E7A;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    margin-left: 8px;
}
.phone {
    display: flex;
    margin-top: 17px;
}
.phone a {
    text-decoration: none;
    color: #B99E7A;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    margin-left: 8px;
}
.location {
    display: flex;
    margin-top: 17px;
}
.location a {
    text-decoration: none;
    color: #B99E7A;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    margin-left: 8px;
}
.aziya {
    display: flex;
    gap: 46px;
    margin-bottom: 15px;
}
.kakao:hover {
    content: url('img/kakao_hover.svg');
}
.kakao:active {
    content: url('img/kakao_active.svg');
}
.wechat:hover {
    content: url('img/wechat_hover.svg');
}
.wechat:active {
    content: url('img/wechat_active.svg');
}
.telegram:hover {
    content: url('img/telegram_hover.svg');
}
.telegram:active {
    content: url('img/telegram_active.svg');
}
.vk:hover {
    content: url('img/vk_hover.svg');
}
.vk:active {
    content: url('img/vk_active.svg');
}
.russ {
    display: flex;
    gap: 46px;
    margin-bottom: 30px;
}
footer p {
    color: #8A7A6A;
    font-family: "Inter", sans-serif;
    font-size: 24px;
}