* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    background-color: #FAF7F0;
}
header {
    height: 92px;
    border-bottom: solid 3px #C41E3A;
    display: flex;
    justify-content: center;
    width: 100%;
}
#cap {
    width: 1360px;
    display: flex;
    align-items: center;
}
.logo {
    width: 111px;
}
nav {
    margin-left: 114px;
    display: flex;
    gap: 32px;
}
nav a {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #2D2418;
    text-decoration: none;
}
nav a:hover {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #C41E3A;
    text-decoration: none;
}
.active {
    border-bottom: solid 2px #C41E3A;
    padding-bottom: 8px;
    color: #C41E3A;
}
input {
    width: 442px;
    height: 44px;
    background-color: #E0E0E0;
    border: solid 2px #C41E3A;
    border-radius: 5px 0 0 5px;
    margin-left: 137px;
    padding-left: 14px;
}
input::placeholder {
    color: #303030;
    font-size: 16px;
    font-weight: 400;  
}
.button_search {
    width: 85px;
    height: 44px;
    background-color: #C41E3A;
    border: none;
    border-radius: 0 5px 5px 0;
}
input:hover {
    width: 442px;
    height: 44px;
    background-color: #FFFFFF;
    border: solid 2px #C41E3A;
    border-radius: 5px 0 0 5px;
    margin-left: 137px;
    padding-left: 14px;
}
input:hover::placeholder {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}
input:focus {
    outline: none;
    background-color: #FFFFFF;
    border: solid 2px #C41E3A;
}
input:focus::placeholder {
    color: #ffffff;
}
.button_search:hover {
    background-color: #9A162D;
}
.button_search:hover img {
    content: url('img/lupa_hover.png');
    width: 31px;
    height: 31px;
    object-fit: contain;
}
.button_search:active {
    width: 85px;
    height: 44px;
    background-color: #E0E0E0;
    border: solid 2px #C41E3A;
    border-radius: 0 5px 5px 0;
}
.button_search:active img {
    content: url('img/lupa.png');
    width: 35px;
    height: 35px;
    object-fit: contain;
}
.korzina {
    width: 42px;
    height: 36px;
    margin-left: 69px;
}
.korzina:hover {
    content: url('img/korzina_hover.svg');
    width: 42px;
    height: 36px;
    margin-left: 69px;
    object-fit: contain;
}
main {
    display: flex;
    justify-content: center;
    width: 100%;
}
#content {
    width: 1360px;
}
.kat {
    font-size: 36px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #2D2418;
    margin-top: 47px;
    margin-bottom: 30px;
}
.banner {
    width: 1360px;
}
.info {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
.kategorii {
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #2D2418;
    margin-top: 47px;
    margin-bottom: 30px;
    justify-self: start; 
}
.filter_label {
    width: 47.8px;
    height: 44.06;
    margin-top: 36px;
    margin-bottom: 35.94px;
    justify-self: end;
    margin-right: 47.2px;
}
section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}
.kartochki {
    width: 440px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(45, 36, 24, 0.3);
     position: relative;
}
.badge {
    width: 97.94px;
    height: 101.16px;
    position: absolute;
    top: 8.23px;
    left: 3.53px;
}
.hit_badge {
    width: 111.32px;
    height: 111.32px;
    position: absolute;
    top: -15px;
    left: -20px;
}
.card-link {
    text-decoration: none;
}
.kartochki:hover {
    background-color: #E8E8E8;
}
.kartochki:active {
    background-color: #E0E0E0;
}
.tovar {
    width: 412px;
    height: 395px;
    border-radius: 15px;
    margin: 12px 14px 0 14px;
}
.zagolovok {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #2D2418;
    font-size: 24px;
    margin: 15px 0;
    margin-left: 14px;
}
.zagolovok2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #2D2418;
    font-size: 24px;
    margin-top: 14px;
    margin-left: 14px;
}
.opisanie {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #666666;
    margin-left: 14px;
    font-weight: 400;
}
.cena {
    color: #000000;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 15px;
    margin-left: 14px;
}
.cena2 {
    color: #000000;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 8px;
    margin-left: 14px;
    margin-bottom: 9px;
}
/*Кнопка в корзину*/
.in_korzina {
    width: 412px;
    height: 52px;
    background-color: #C41E3A;
    display: flex;
    margin: 15px 14px;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.in_korzina2 {
    width: 412px;
    height: 52px;
    background-color: #C41E3A;
    display: flex;
    margin-bottom: 15px;
    margin-left: 14px;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.in_korzina img, .in_korzina2 img {
    width: 36px;
    height: 36px;
    margin: 8px 0;
}
.in_korzina p, .in_korzina2 p {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    margin-left: 9.12px;
    font-size: 24px;
    font-weight: 700;
}
.in_korzina:hover, .in_korzina2:hover {
    background-color: #ffffff;
    border: solid 3px #C41E3A;
}
.in_korzina:hover img, .in_korzina2:hover img {
    content: url('img/button_korzina_hover.svg');
}
.in_korzina:hover p, .in_korzina2:hover p {
    color: #C41E3A;
}
.in_korzina:focus, .in_korzina2:focus {
    background-color: #C41E3A;
}
.in_korzina:focus img, .in_korzina2:focus img {
    content: url('img/button_korzina_focus.svg');
}
.in_korzina:focus p, .in_korzina2:focus p {
    color: lab(100% 0.01 -0.01);
}
footer {
    background-color: #2D2418;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    margin-top: 17px;
    flex-direction: column;
    align-items: center;
}
.line {
    width: 1641px;
    border-bottom: solid 3px #4A3727;
    display: flex;
    justify-content: center;
}
.footer_container {
    width: 1360px;
    display: flex;
}
.logo2 {
    width: 248px;
    height: 178px;
    margin-top: 31px;
}
.kontakty {
    margin-top: 19px;
    margin-left: 103px;
}
.help {
    margin-top: 19px;
    margin-left: 38px;
}
.icons {
    margin-top: 66px;
    margin-left: 99px;
}
.zag {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    color: #D4BC9A;
    font-size: 30px;
}
.mail {
    display: flex;
    margin-top: 17px;
}
.mail a {
    text-decoration: none;
    color: #B99E7A;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    margin-left: 8px;
}
.phone {
    display: flex;
    margin-top: 17px;
}
.phone a {
    text-decoration: none;
    color: #B99E7A;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    margin-left: 8px;
}
.location {
    display: flex;
    margin-top: 17px;
}
.location a {
    text-decoration: none;
    color: #B99E7A;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    margin-left: 8px;
}
.aziya {
    display: flex;
    gap: 46px;
    margin-bottom: 15px;
}
.kakao:hover {
    content: url('img/kakao_hover.svg');
}
.kakao:active {
    content: url('img/kakao_active.svg');
}
.wechat:hover {
    content: url('img/wechat_hover.svg');
}
.wechat:active {
    content: url('img/wechat_active.svg');
}
.telegram:hover {
    content: url('img/telegram_hover.svg');
}
.telegram:active {
    content: url('img/telegram_active.svg');
}
.vk:hover {
    content: url('img/vk_hover.svg');
}
.vk:active {
    content: url('img/vk_active.svg');
}
.russ {
    display: flex;
    gap: 46px;
    margin-bottom: 30px;
}
footer p {
    color: #8A7A6A;
    font-family: "Inter", sans-serif;
    font-size: 24px;
}
.filter {
    width: 47.8px;
    height: 44.06px;
}
.filter:hover {
    content: url(img/filter_hover.svg);
}
.filter:active {
    content: url(img/filter_active.svg);
}
.modal {
    display: none;
}
.modal_window {
    display: grid;
    position: fixed;
    top: 15%;
    right: 13.8%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1000;
}
.modal:checked ~ .modal_window {
    opacity: 1;
    visibility: visible;
}
.modal_container {
    display: grid;
    grid-template-rows: auto auto;
    position: absolute;
    top: 180px; 
    right: 20px;
    width: 440px;
    height: 470px;
    background-color: #FFFFFF;
    border-radius: 20px;
    transform: scale(0.7);
    box-shadow: 14px 11px 18.4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;  
}
.modal:checked ~ .modal_window .modal_container {
    transform: scale(1);
}
.modal_header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    position: relative;
    padding: 31px 0 17px 0;
    margin: 0 46px;
    border-bottom: solid 3px #E65C4F;
}
.modal_header h3 {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #E65C4F;
    margin: 0;
}
.modal_close {
    line-height: 1;
    justify-self: end;
}
.modal_close img {
    width: 55px;
    height: 55px;
}
.modal_close img:hover {
    content: url(img/krest_hover.svg);
}
.window {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    padding: 0;
}
.filter_okno {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    height: 100%;
}

.filter_btn {
    display: block;
    width: 100%;
    text-align: left;
    padding: 17px 0;
    padding-left: 39px;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #C41E3A;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    border-left: 3px solid transparent;
}
.filter_btn:hover {
    color: #E65C4F;
}
.filter_btn:active {
    color: #9A162D;
}
.filter_absolute_wrapper {
    position: relative;
    height: 0;
    pointer-events: none;
}
.filter_sticky {
    position: sticky;
    top: 20px;
    float: right;
    margin-right: 47.2px;
    pointer-events: auto;
    z-index: 100;
}